@import "@/styles/theme.scss";

/**
 * // NOTE  RN Swiper 的 indicator 位置与 H5、小程序不同
 * 这边通过 height + 负 margin 实现一致样式，或者自己实现 indicator 也不难
 */

.home-banner {
  margin: -30px 0 -40px;
  height: 410px;
  overflow: hidden;
  @include eject(height, 320px);
  @include eject(margin, 0);
}

.home-banner__swiper {
  // NOTE RN 的 Swiper 需要有高度，否则会报错
  height: 320px;
  width: 710px;
  margin: 15px auto;
  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-img {
      width: 710px;
      height: 290px;
      border-radius: 8px;
      overflow: hidden;
      object-fit: cover;
    }
  }
}
