@import "@/styles/theme.scss";
// @import "@/styles/iconfont.scss";
.income-grid{
  background-color: #ffffff;
  padding: 20px 30px;
  &__wrap{
    &--item {
      text-align: center;
      display: flex;
      flex-direction: column;
      .price{
        font-size: 14PX;
        color: $money-color;
      }
      .title{
        font-size: 12PX;
        color: $text-color;
      }
    }
  }
}